@import '../../../styles/styles.scss';

.loadMore {
  &__button {
    margin: 1rem 0 2.2rem 0;
  }
  &__icon {
    margin: 0 0 0 0.8rem;
  }
}

.bTTniw {
  background-color: $color-primary !important;
  border: none !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: darken($color-primary, 5%) !important;
    box-shadow: $box-shadow;
    padding: 0 2rem;
    transition: all 0.3s ease-in-out;
  }
}
