@import '../../../styles/styles.scss';

.paragraph {
  display: flex;
  align-items: center;
  font-size: 1rem;
  &--blue {
    color: $color-secondary;
  }
  &--lightBlue {
    color: lighten($color-secondary, 30%);
  }
}
