@import '../../styles/styles.scss';

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  transition: margin 1s ease-in-out;
  &--small {
    margin: 1rem 0 1rem 0;
  }
  &--big {
    margin: 3rem 0 3rem 0;
  }
}

.btANOF {
  border: none !important;
  background-color: $color-white;
  width: 600px !important;
  &::placeholder {
    color: $color-secondary;
  }
}

.gXjtHS {
  color: $color-secondary;
}

.gXjtHS > svg {
  width: 40px !important;
  height: 40px !important;
}
