@import '../../styles/styles.scss';

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  &--small {
    margin: 1.5rem 0 1.5rem 0;
  }
  &--big {
    margin: 3rem 0 3rem 0;
  }
  &__input {
    width: 600px;
  }
}

.btANOF {
  border: none !important;
  background-color: $color-white;
  &::placeholder {
    color: $color-secondary;
  }
}

.gXjtHS {
  color: $color-secondary;
}

.gXjtHS > svg {
  width: 40px !important;
  height: 40px !important;
}
