@import '../../../styles/styles.scss';

.results {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
