@import '../../../styles/styles.scss';

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: center;
  &--dark {
    background-color: $color-white;
    color: $color-secondary;
  }
  &--light {
    background-color: $background-color;
    color: $color-white;
  }
  &__social {
    display: flex;
    &__logo {
      font-size: 1.7rem;
      margin: 0rem 1rem 1rem 1rem;
      &--twitter {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color-twitter;
          transform: scale(1.5);
          transition: all 0.3s ease-in-out;
        }
      }
      &--gh {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color-github;
          transform: scale(1.5);
          transition: all 0.3s ease-in-out;
        }
      }
      &--lk {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color-linkedin;
          transform: scale(1.5);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  &__copyright {
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}
