@import '../../../styles/styles.scss';

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: center;
  &--dark {
    background-color: $color-white;
    color: $color-secondary;
  }
  &--light {
    background-color: $background-color;
    color: $color-white;
  }
  &__social {
    display: flex;
    li {
      transition: transform 0.4s;
    }
    li:hover {
      transform: scale(1.5);
      transition: transform 0.4s;
    }
  }
  &__logo {
    font-size: 1.7rem;
    margin: 0rem 1rem 1rem 1rem;
  }
  &__copyright {
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}
