@import '../../../styles/styles.scss';

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
  transition: margin 1s ease-in-out;
  @media screen and (max-width: 768px) {
    margin: 1rem 0 0.5rem 0;
  }
  &--small {
    margin: 2rem 0 1rem 0;
  }
  &--big {
    margin: 3rem 0 3rem 0;
  }
}

.btANOF {
  border: 1px solid $color-secondary !important;
  width: 600px !important;
  @media screen and (max-width: 768px) {
    width: 300px !important;
  }
  &::placeholder {
    color: $color-secondary;
  }
  &:focus {
    outline: none !important;
    border: 1px solid $color-secondary !important;
    box-shadow: 0 0 0 0 $color-secondary !important;
  }
}

.gXjtHS {
  width: 40px !important;
  font-size: 3rem !important;
}
